.cursor {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: transform 0.1s ease-out;
    mix-blend-mode: difference;
}

a, button, h1, p {
    transition: all 0.3s;
}

a:hover, button:hover, h1:hover, p:hover {
    cursor: none;
}